<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tauri.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Tauri.Properties.Settings>
            <setting name="TriggerbotHotkeyName" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerbotHotkeyKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlowHotkeyName" serializeAs="String">
                <value />
            </setting>
            <setting name="GlowHotkeyKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BunnyhopHotkeyName" serializeAs="String">
                <value />
            </setting>
            <setting name="BunnyhopHotkeyKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoFlashHotkeyName" serializeAs="String">
                <value />
            </setting>
            <setting name="NoFlashHotkeyKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReactionTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowedPistols" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedShotguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedSMGs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedRifles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedSniperRifles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnemyGlowColor" serializeAs="String">
                <value />
            </setting>
            <setting name="FriendGlowColor" serializeAs="String">
                <value />
            </setting>
            <setting name="FriendGlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnemyGlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReloadWeapon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickScope" serializeAs="String">
                <value>False</value>
            </setting>
        </Tauri.Properties.Settings>
    </userSettings>
</configuration>